.skills-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container li {
  background-color: #eee1c9;
  border: 3px ridge #7c6c5b;
  outline: 2px dashed #b19c8a;
  outline-offset: -5px;
  border-radius: 10px;
  padding: 15px 25px;
  color: #5a4e45;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.skills-container li:hover {
  background-color: #b19c8a;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .skills-container li {
    font-size: 1rem;
    padding: 12px 20px;
  }
}
